.App {
    text-align: center;
    background-color: #282c34;
}

.App-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

section {
    margin-bottom: 10rem;
    width: 100%;
}

button,
a {
    color: #61dafb;
    margin-bottom: 20px;
    width: 350px;
}

.form_el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"],
label {
    margin-bottom: 1rem;
}

input[type="text"] {
    font-size: 1rem;
    background: white;
    padding: 1rem 2rem;
}

button.btn-primary {
    font-size: 1rem;
    background: transparent;
    border: 1px solid #61dafb;
    padding: 1rem 2rem;
}

button:hover:not(:disabled) {
    background: #61dafb;
    color: #282c34;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

p {
    font-size: 1rem;
}

/* .media-library */
/* .media-library--openai */
/* .media-library--geminiai */

.media-library-container {
    display: flex;
    flex-wrap: wrap;
}

.media-library--openai,
.media-library--geminiai {
    width: 100%;
}

.media-library,
.media-library-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-height: 591.5px;
    overflow-y: overlay;
}

.media-library li,
.media-library-list li {
    list-style-type: none;
    position: relative;
}

.media-library-list button {
    width: auto;
}

.media-library button,
.media-library a {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.media-library a {
    right: -10px;
}

.media-library button {
    right: 10px;
}

.media-library img {
    width: 100%;
    height: auto;
}

.media-library--image-prompt--date,
.media-library--video-prompt--date {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transition: all ease-out 0.3s;
    overflow-y: auto;
    padding: 1rem 0;
}

.media-library--image-prompt--date p,
.media-library--video-prompt--date p {
    font-size: 12px;
}

.media-library li:hover .media-library--image-prompt--date,
.media-library li:focus .media-library--image-prompt--date,
.media-library li:hover .media-library--video-prompt--date,
.media-library li:focus .media-library--video-prompt--date {
    opacity: 1;
}