.App {
    text-align: center;
    background-color: #282c34;
}

.App-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

section {
    margin-bottom: 10rem;
    width: 100%;
}

button,
a {
    color: #61dafb;
    margin-bottom: 20px;
    width: 350px;
}

.form_el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"],
label {
    margin-bottom: 1rem;
}

input[type="text"] {
    font-size: 1rem;
    background: white;
    padding: 1rem 2rem;
}

button {
    font-size: 1rem;
    background: transparent;
    border: 1px solid #61dafb;
    padding: 1rem 2rem;
}

button:hover {
    background: #61dafb;
    color: #282c34;
}

p {
    font-size: 1rem;
}

/* .image-library */
/* .image-library--openai */
/* .image-library--geminiai */

.image-library {
    display: flex;
    flex-wrap: wrap;
}

.image-library--openai,
.image-library--geminiai {
    width: 100%;
}

.image-library-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-height: 591.5px;
    overflow-y: overlay;
}

.image-library-images li {
    list-style-type: none;
    position: relative;
}

.image-library-images a {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.image-library-images img {
    width: 100%;
    height: auto;
}
